footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #f3f9bf;

    .footer-fixed {
        @if $layout-width =='fixed' {
            max-width: $fixed-width;
            margin: 0 auto;
        }

        @else {
            width: 100%;
        }

        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo-footer {
            width: 50px;
            height: 50px;
            background-color: #3eff62;
        }

        nav.menu-footer {
            ul {
                list-style: none;
                padding: 0;
                margin: 0;
                display: flex;

                li {
                    width: 120px;
                    text-align: center;
                    margin: 0px 10px;
                    font-size: 12px;
                }
            }
        }
    }

    p.copy {
        font-size: 14px;
        color: $fontBaseColor;
        text-align: center;
    }
}