header {
    width: 100%;
    background-color: #e1e1e1;

    section.fixed {
        @if $layout-width =='fixed' {
            max-width: $fixed-width;
            margin: 0 auto;
        }

        @else {
            width: 100%;
        }

        display: flex;
        justify-content: space-between;
        align-items: center;


        .logo {
            width: 50px;
            height: 50px;
            background-color: #3eff62;
            @include m {
                width: 40px;
                height: 40px;
                background-color: #f00404;
            }
        }
               
        @import 'nav';

    }
}