        nav {
            ul {
                list-style: none;
                padding: 0;
                margin: 0;
                display: flex;
                @include m {
                    display:none;
                }

                li {
                    width: 120px;
                    text-align: center;
                    margin: 0px 10px;
                    a {
                        text-decoration: none;
                        color: $fontBaseColor;
                        padding-bottom: 16px;
                        transition: all 0.3s ease;
                        &:hover {
                            color: $colorPrimary;
                            padding-bottom: 16px;
                            border-bottom: 3px solid $colorPrimary;
                        }// 偽元素
                        &::before {
                            content: '> ';
                        }
                    }
                }
            }
        }


        