@charset "UTF-8";
/* scss 編譯過的 註解 */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1 {
  font-size: 60px;
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #b3ff00;
  text-align: center;
}

h2 {
  font-size: 48px;
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #ff5555;
  text-align: center;
}

h3 {
  font-size: 24px;
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #333;
  text-align: center;
}

.btn {
  padding: 8px 20px;
  max-width: 120px;
  text-align: center;
  border-radius: 6px;
  background-color: #0062ff;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 20px auto 0;
}
.btn:hover {
  background-color: rgb(0, 78.4, 204);
}

.btn-large-s {
  padding: 12px 18px;
  max-width: 180px;
  background-color: #00ffc8;
  color: #333;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 8px;
}
.btn-large-s:hover {
  background-color: #00cca0;
}
.btn-large-s {
  margin: 10px auto;
}

.btn-small-s {
  padding: 6px 9px;
  max-width: 90px;
  background-color: #7a0600;
  color: #333;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 4px;
}
.btn-small-s:hover {
  background-color: rgb(71, 3.4918032787, 0);
}
.btn-small-s {
  margin: 10px auto;
  color: #fff;
}

.btn-circle-s {
  padding: 10px 15px;
  max-width: 150px;
  background-color: #0062ff;
  color: #333;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 25px;
}
.btn-circle-s:hover {
  background-color: rgb(0, 78.4, 204);
}
.btn-circle-s::before {
  content: "✓";
  display: inline-block;
  width: 10px;
  height: 10px;
  vertical-align: middle;
  position: relative;
  top: -8px;
  left: -5px;
}
.btn-circle-s {
  margin: 10px auto;
}

.btn-small_default {
  padding: 6px 12px;
  max-width: 90px;
  background-color: #b800d9;
  color: #333;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 6px;
  border: 2px solid rgb(140.7557603687, 0, 166);
  background-color: transparent;
  color: rgb(140.7557603687, 0, 166);
}
.btn-small_default:hover {
  color: #fff;
}
.btn-small_default:hover {
  background-color: rgb(140.7557603687, 0, 166);
}

.btn-small_circle {
  padding: 6px 12px;
  max-width: 90px;
  background-color: #b800d9;
  color: #333;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 25px;
  border: 2px solid rgb(140.7557603687, 0, 166);
  background-color: transparent;
  color: rgb(140.7557603687, 0, 166);
}
.btn-small_circle:hover {
  color: #fff;
}
.btn-small_circle:hover {
  background-color: rgb(140.7557603687, 0, 166);
}

.btn-default_circle {
  padding: 8px 20px;
  max-width: 120px;
  background-color: #b800d9;
  color: #333;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 25px;
}
.btn-default_circle:hover {
  background-color: rgb(140.7557603687, 0, 166);
}

.btn-default_default {
  padding: 8px 20px;
  max-width: 120px;
  background-color: #b800d9;
  color: #333;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 6px;
}
.btn-default_default:hover {
  background-color: rgb(140.7557603687, 0, 166);
}

.btn-large_circle {
  padding: 12px 24px;
  max-width: 180px;
  background-color: #b5da00;
  color: #333;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 25px;
  border: 2px solid rgb(138.6559633028, 167, 0);
  background-color: transparent;
  color: rgb(138.6559633028, 167, 0);
}
.btn-large_circle:hover {
  color: #fff;
}
.btn-large_circle:hover {
  background-color: rgb(138.6559633028, 167, 0);
}
.btn-large_circle {
  margin: 10px auto;
}

.btn-large_default {
  padding: 12px 24px;
  max-width: 180px;
  background-color: #b5da00;
  color: #333;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 6px;
}
.btn-large_default:hover {
  background-color: rgb(138.6559633028, 167, 0);
}

header {
  width: 100%;
  background-color: #e1e1e1;
}
header section.fixed {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header section.fixed .logo {
  width: 50px;
  height: 50px;
  background-color: #3eff62;
}
header section.fixed nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
header section.fixed nav ul li {
  width: 120px;
  text-align: center;
  margin: 0px 10px;
}
header section.fixed nav ul li a {
  text-decoration: none;
  color: #333333;
  padding-bottom: 16px;
  transition: all 0.3s ease;
}
header section.fixed nav ul li a:hover {
  color: #0062ff;
  padding-bottom: 16px;
  border-bottom: 3px solid #0062ff;
}
header section.fixed nav ul li a::before {
  content: "> ";
}

body {
  font-size: 16px;
  line-height: 1.5;
  box-sizing: border-box;
  color: #333333;
  background-color: #f8ca66;
  margin: 0;
}

.container {
  width: 100%;
}

.wrapper {
  width: 100%;
}

.content {
  width: 100%;
  min-height: 600px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f3f9bf;
}
footer .footer-fixed {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer-fixed .logo-footer {
  width: 50px;
  height: 50px;
  background-color: #3eff62;
}
footer .footer-fixed nav.menu-footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
footer .footer-fixed nav.menu-footer ul li {
  width: 120px;
  text-align: center;
  margin: 0px 10px;
  font-size: 12px;
}
footer p.copy {
  font-size: 14px;
  color: #333333;
  text-align: center;
}

.w {
  width: 100px;
}

.z {
  width: 300px;
}

.b {
  width: 300px;
}

.content-box {
  box-sizing: content-box;
  border: 1px solid #0062ff;
  background-image: url("content-box.jpg");
  border: 5px;
}

.aaa {
  width: 150px;
  height: 199px;
  font-size: 32px;
  font: 15px;
}

.bbb {
  width: 134px;
}

.ccc {
  color: white;
  background-color: black;
}

.layout {
  width: 100%;
}

.title {
  font-size: 16px;
}

/*# sourceMappingURL=style.css.map */
