/* scss 編譯過的 註解 */

//變數引入
@import 'sass/base/var';
@import 'sass/base/font';
@import 'sass/base/color';
@import 'sass/plugin/reset';

//函式庫
@import 'sass/mixin/mixins';

// 組件
@import 'sass/component/btn';
@import 'sass/component/card';

// 版面配置
@import 'sass/layout/header';
@import 'sass/layout/body';
@import 'sass/layout/footer';
@import 'sass/layout/login';


// 頁面
@import 'sass/page/index';
@import 'sass/page/about';
@import 'sass/page/product';




.w {
    width: $a;
}


//第二題 作用域

// $z : 400px;
.z {
    $z : 300px !global; //提升作用域 全域變數 新版sass 不建議使用
    width: $z;
}

.b {
    width: $z;
}

//變數轉型情境
$name : content-box;
$attr : border;

.#{$name} {
    box-sizing: content-box;
    border: 1px solid $colorPrimary;
    background-image: url('#{$name}.jpg');
    #{$attr}: 5px;
}


// 運算

.aaa {
   width: 100 + 50px;
   height: 200 - 1 + px ;
   font-size: 16 * 2  + px;
   font : 30 / 2 + px //除法要注意 單位
}


//數值運算內建函式
.bbb {
    // width:  round(134.422) + px; //四捨五入
    // width:  ceil(134.622px); //無條件進位
    width:  floor(134.922) + px; //無條件捨去
}

.ccc {
    color : lighten(#000000, 100%); //變亮
    background-color:  darken( #fff, 100%); //變暗
}
















