.btn {
  padding: 8px 20px;
  max-width: 120px;
  text-align: center;
  border-radius: 6px;
  background-color: $colorPrimary;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 20px auto 0;

  &:hover {
    background-color: darken($colorPrimary , 10%); // 變暗
  }
}

// 大型按鈕
.btn-large-s {
  @include btn(12px, $colorSecondary , 8px);
  margin: 10px auto;
}

// 小型按鈕
.btn-small-s {
  @include btn(6px, #7a0600, 4px);
  margin: 10px auto;
  color: #fff
}

// 圓形按鈕
.btn-circle-s {
  @include btn(10px, $colorPrimary , 25px, '\2713');
  margin: 10px auto;
}



// 混合使用
@include btnAll(small, #b800d9, default , true);
@include btnAll(small, #b800d9, circle ,true);
@include btnAll(default, #b800d9, circle);
@include btnAll(default, #b800d9, default);
@include btnAll(large, #b5da00, circle ,true);
@include btnAll(large, #b5da00, default);