.btn {
   padding: 8px 20px;
   max-width: 120px;
   text-align: center;
   border-radius: 6px;
   background-color: $colorPrimary;
   color: #fff;
   cursor: pointer;
   transition: all 0.3s ease;
   margin: 20px auto 0;
   &:hover {
     background-color: darken($colorPrimary , 10%); // 變暗
   }         
}

// 大型按鈕
.btn-large {
   @include btn(12px , $colorSecondary , 8px);
   margin: 10px auto ;
}

// 小型按鈕
.btn-small {
   @include btn(6px , #7a0600 , 4px );
   margin: 10px auto ;
   color: #fff
}

// 圓形按鈕
.btn-circle {
   @include btn(10px , $colorPrimary , 25px  , '\2713' );
   margin: 10px auto;
}




