@mixin title($size , $color) {
   font-size: $size;
   font-weight: bold;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   color : $color;
   &::after {
     content: '';
     display: block;
     width: 50px;
     height: 4px;
     background-color: $color;
     margin: 5px auto 0 auto;
   }

}

h1 {
  @include title(60px, #b3ff00);
  text-align: center
}


h2 {
   @include title(48px, #ff5555);
   text-align: center;
}

