@mixin title($size: 24px, $color: #333, $dash: false) {
    font-size: $size;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: $color;

    @if $dash {
        &::after {
            content: '';
            display: block;
            width: 50px;
            height: 4px;
            background-color: $color;
            margin: 5px auto 0 auto;
        }
    }

}

h1 {
    @include title(60px, #b3ff00);
    text-align: center
}


h2 {
    @include title(48px, #ff5555);
    text-align: center;
}


h3 {
    @include title();
    text-align: center;

}


// Button styles 
// 大小 / 顏色 / 圓角 / hover 效果
// 範例: @include btn(大小 , 顏色 , 圓角 , icon);

@mixin btn($size , $bgc , $bdr , $icon: null) {
    //大小
    padding: $size $size * 1.5;
    max-width: $size * 15;
    // 顏色
    background-color: $bgc;
    color: #333;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
    //圓角
    border-radius: $bdr;

    //hover
    &:hover {
        background-color: darken($bgc , 10%); // 變暗
    }
   // icon
    @if $icon {
        &::before {
            content: '#{$icon}';
            display: inline-block;
            width: 10px;
            height: 10px;
            vertical-align: middle;
            position: relative;
            top: -8px;
            left: -5px;
        }
    }
}



//尺寸不給控制
@mixin btnAll($size: default, $bgc: $colorPrimary , $style: default) {
  .btn-#{$size}_#{$style} {
  //尺寸
    @if $size ==large {
      padding: 12px 24px;
      max-width: 180px;
    }

    @else if $size ==small {
      padding: 6px 12px;
      max-width: 90px;
    }

    @else if $size ==default {
      padding: 8px 20px;
      max-width: 120px;
    }
   //顏色
    background-color: $bgc;
    color: #333;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
   //樣式
    @if $style ==circle {
      border-radius: 25px;
    }

    @else {
      border-radius: 6px;
    }

    &:hover {
      background-color: darken($bgc , 10%); // 變暗
    }

  }

}